<footer>
    <div class="footer_logo">
        <img src="./svg/logo.svg" alt="">
        <h3>©UMT Global Logistics LLC 2022 </h3>
    </div>
    <div class="footer_contact">
        <div class="footer_links">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
                <li>
                    <a href="/apply">Join Us</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="us">
            <div class="visit">
                <div class="bir">
                    <div class="office" id="visit">
                        <p>Visit Us:</p>
                        <p>1900 N AURORA RD, NAPERVILLE, IL 60563 <br>Mon-Friday, 9.00 am-6.00 pm</p>
                    </div>
                </div>
                <div class="ikki">
                    <div class="inquiry" id="visit">
                        <p>For General Inquiries:</p>
                        <p>info@umtglobal.com <br>  (331) 264 4477</p>
                    </div>
                    <div class="recruit" id="visit">
                        <p>For Recruiting:</p>
                        <p>hr@umtglobal.com <br> (331) 481 9944</p>
                    </div>
                </div>
                <div class="footer_icon">
                    <a href="https://www.facebook.com/umt.global.logistics"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/umtgloballogistics/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/umtglobal/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>