<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/style/about.css">
    <title>About</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
        <div class="cargo" id="image">
            <div class="cargo_img"></div>
            <h2>about us</h2>
        </div>
        <div class="more">
            <a href="tel: (331) 481 9944">CALL NOW</a>
            <a href="/apply/#join_box">APPLY</a>
        </div>
    </header>

    <div class="container">
        <div class="four box">
            <div class="msg">
                <h1>UMT Global Logistics at a Glance</h1>
                <h3>UMT Global Logistics was founded in 2018 in the greater Chicago area of Illinois. We 
                aspire to reduce the distance between you and your customer to a step.</h3>
            </div>
            <div class="img count" id="info">
                <div class="info">
                    <h1><span class="counter" data-target="7500">7500</span></h1>
                    <p>trips completed</p>
                </div>
                <div class="info">
                    <h1><span class="counter" data-target="48">48</span></h1>
                    <p>states reach</p>
                </div>
                <div class="info">
                    <h1><span class="counter" data-target="10">10</span><span class="plus">+</span> mln</h1>
                    <p>miles traveled</p>
                </div>
                <div class="info">
                    <h1><span class="counter" data-target="100">100</span>%</h1>
                    <p>satisfied clients</p>
                </div>
            </div>
        </div>
        <div class="slider_container">
            <h4>What do They Say About Us:</h4>
            <div class="slider0">
                <div class="slide" id="first">
                    <p>A lot of opportunities for new and experienced drivers. Friendly dispatch and 
                    fleet services. They work individually with every person who comes in.</p>
                    <p style="color: #C22B38">Mahkam Salimov, an Owner-Operator</p><hr>
                </div>
                <div class="slide" id="second">
                    <p>UMT Global Logistics is… the best company so far I have ever worked for. Moneywise, 
                    absolutely the best. I can't complain about the checks coming in every week. 
                    They respect you and help you when needed.</p>
                    <p style="color: #C22B38">Abdellillah Nour, Driver</p><hr>
                </div>
                <div class="slide" id="third">
                    <p>One of the best things about UMT Global Logistics is the fact that they put their drivers 
                    first and that their payments are always on time, the dispatchers always try 
                    to find loads that best suit your needs. If you want to head home they will book a 
                    load towards your hometown.</p>
                    <p style="color: #C22B38">Chavarria Royman, an Owner-Operator</p><hr>
                </div>
                <div class="slide" id="fourth">
                    <p>One of the best things about UMT Global Logistics is the fact that they put their drivers 
                    first and that their payments are always on time, the dispatchers always try 
                    to find loads that best suit your needs. If you want to head home they will book a 
                    load towards your hometown.</p>
                    <p style="color: #C22B38">Chavarria Royman, an Owner-Operator</p>
                </div>
                <a class="prev0">&#10094;</a>
                <a class="next0">&#10095;</a>
            </div>
        </div>
        <div class="five box">
            <div class="img">
                <img src="./images/About-2.jpg" alt="">
            </div>
            <div class="msg">
                <h1>Come Visit Us!</h1>
                <h3>We are available for our partners and drivers at our location in Naperville. It can be found at the corner of N. Aurora Road and Industrial Drive,
                a quick drive from interstate highway 88/ IL 59.</h3>
            </div>
        </div>
        <div class="six box about">
            <div class="msg">
                <h1>Our Partners</h1>
                <h3>We count some of the leading companies in logistics as our partners.</h3>
                <img src="./svg/Partners.svg" alt="">
            </div>
            <div class="img1">
                <div class="brands">
                    <div class="brand">
                        <div class="brand_box" id="one">
                            <div class="fade"><img src="./images/1.png" alt=""></div>
                            <div class="appear">
                                <img src="./images/10.png" alt="" style="height: 60%;">
                            </div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="two">
                            <div class="fade"><img src="./images/828 log.png" alt=""></div>
                            <div class="appear"><img src="./images/schneider.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="three">
                            <div class="fade"><img src="./images/3.png" alt=""></div>
                            <div class="appear"><img src="./images/12.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="four">
                            <div class="fade"><img src="./images/4.png" alt=""></div>
                            <div class="appear"><img src="./images/13.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="five">
                            <div class="fade"><img src="./images/5.png" alt="" style="width: 150px; height: 150px;"></div>
                            <div class="appear"><img src="./images/14.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="six">
                            <div class="fade"><img src="./images/6.png" style="height: 80%;" alt=""></div>
                            <div class="appear"><img src="./images/15.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="seven">
                            <div class="fade"><img src="./images/7.png" alt=""></div>
                            <div class="appear"><img src="./images/16.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="eight">
                            <div class="fade"><img src="./images/8.png" alt=""></div>
                            <div class="appear"><img src="./images/17.png" alt=""></div>
                        </div>
                    </div>
                    <div class="brand">
                        <div class="brand_box" id="nine">
                            <div class="fade"><img src="./images/9.png" alt=""></div>
                            <div class="appear"><img src="./images/18.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="before"></div>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
    <script src="/js/counter.js"></script>
    <script src="/js/carousel0.js"></script>
</body>
</html>