<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/style/service.css">
    <title>Services</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
        <div class="cargo" id="image">
            <img src="./images/Services-1.jpg" alt="">
            <h2>services</h2>
        </div>
        <div class="more">
            <a href="tel: (331) 481 9944">CALL NOW</a>
            <a href="/apply">APPLY</a>
        </div>
    </header>



    <!-- chess part -->
    <div class="container">
        <div class="four box">


            <!-- sample begin -->
            <div class="msg"> <!-- context -->
                <h1>Dry Van</h1> <!-- header -->
                <h3>We work with power-only units to transport a wide range of non-perishable freight 
                    in 53-feet dry van trailers on our wide network of over-the-road lanes. 
                    If you're in search of reliable, flexible, and safe dry-van capacity, our fleet is 
                    on your service.</h3> <!-- text -->
            </div>
            <div class="img">    <!-- image part -->
                <img src="./images/Services-2.jpg" alt=""> <!-- image -->
             </div>
            <!-- sample end-->  



        </div>
        <div class="five box">
            <div class="img">
                <img src="./images/Services-3.jpg" alt="">
            </div>
            <div class="msg">
                <h1>Refrigerated</h1>
                <h3>We carry perishable or refrigerated goods over various destinations with our 
                expanding reefer trailer fleet, so your cargo is delivered afresh.</h3>
            </div>
        </div>
        <div class="six box">
            <div class="msg">
                <h1>Dispatch Team</h1>
                <h3>Our dispatch team serves as a bridge between our vendors and drivers, coordinating 
                    the tight delivery schedules and routes with our available fleet within efficient 
                    and safe operations.</h3>
                </div>
                <div class="img">
                    <img src="./images/Services-4.jpg" alt="">
                </div>
            </div>
        <div class="seven box">
            <div class="img">
                <img src="./images/Services-5.jpg" alt="">
            </div>
            <div class="msg">
                <h1>Safety and Update</h1>
                <h3>We have a dedicated set of knowledgeable and experienced professionals to 
                provide you the exceptional service you deserve.</h3>
            </div>
        </div>
        <div class="nine box">
            <div class="msg">
                <h1>Fleet and Maintenance</h1>
                <h3>Our in-house maintenance and fleet team assist drivers with the proper functioning 
                    of their equipment and machinery; and our repair shop provides 
                    maintenance and parking space for our trucks.</h3>
            </div>
            <div class="img">
                <img src="./images/Services-6.jpg" alt="">
            </div>
            </div>
        </div>
        <div class="ten box">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="msg">
                <h1></h1>
                <h3></h3>
            </div>
        </div>
        <div class="before"></div>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>